extends layout

block content

    .container
        br
        br
        // Introduction Row
        h1.my-4
            | About Us
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?
        // Team Members Row
        .row
            .col-lg-12
                h2.my-4 Our Team
            .col-lg-4.col-sm-6.text-center.mb-4
                img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
                h3
                    | Alberto Mancini
                small Team Lead
                p
                | What does this team member to? Keep it short! This is also a great spot for social links!
            .col-lg-4.col-sm-6.text-center.mb-4
                img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
                h3
                    | Julian Morisette
                small Back-end Lead
                p
                | What does this team member to? Keep it short! This is also a great spot for social links!
            .col-lg-4.col-sm-6.text-center.mb-4
                img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
                h3
                    | Mayank Sachdeva
                small Front-end Lead
                p
                | What does this team member to? Keep it short! This is also a great spot for social links!
            .col-lg-4.col-sm-6.text-center.mb-4
                img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
                h3
                    | Felix Chin
                small Back-end Developer
                p
                | What does this team member to? Keep it short! This is also a great spot for social links!
            .col-lg-4.col-sm-6.text-center.mb-4
                img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
                h3
                    | Jirat Parkeenvincha
                small Front-end Developer
                p
                | What does this team member to? Keep it short! This is also a great spot for social links!
            .col-lg-4.col-sm-6.text-center.mb-4
                img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
                h3
                    | Shenliang Wang
                small Back-end Developer
                p
                | What does this team member to? Keep it short! This is also a great spot for social links!
