extends layout

block content
  .main.container
    .row.text-center
     h1.display-4.m-b-2 Exa path to listing 1's 1st image: images/listing_id_1/1.jpeg
     .media
      .media-middle
       img.img-responsive.center-block(src='images/listing_id_1/1.jpeg', width='300', height='300')
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In

       
