extends layout

block content
  div(style='margin:100px;')
    nav.navbar.navbar-inverse.navbar-static-top
      .container
        ul.nav.navbar-nav
          li.active
            a(href='/fa17g06/') Home
          li
            a(href='/fa17g06/felix') Felix
          li
            a(href='/fa17g06/mayank') Myunk
          li
            a(href='/fa17g06/jirat') Jirat
          li
            a(href='/fa17g06/lion') Lion
          li
            a(href='/fa17g06/julian') Julian
    .jumbotron(style='padding:40px;')
    h1(align='center') Alberto Mancini
    p(align='center') Project Lead of Team 6 for CSC 648 at San Francisco State University.

