<html>
<head>
  <title>Home Page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
	  
      <li>
        <a href="/groupmember1">Alberto</a>
      </li>
	  
	   <li>
        <a href="/groupmember2">Felix</a>
      </li>
	  
	   <li>
        <a href="/groupmember3">Myunk</a>
      </li>
	  
	   <li>
        <a href="/groupmember4">Jirat</a>
      </li>
	  
	   <li>
        <a href="/groupmember5">Lion</a>
      </li>
	  
	   <li>
        <a href="/groupmember6">Julian</a>
      </li>
	  
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>Hello, world! This is the index page. Please view the members who constructed this set of pages</h1>
      
    </div>
  </div>
</body>
</html>