extends layout

block content
  header
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')          
        li(data-target='#carouselExampleIndicators', data-slide-to='1')          
        li(data-target='#carouselExampleIndicators', data-slide-to='2')
          
      .carousel-inner(role='listbox')
        // Slide One - Set the background image for this slide in the line below
        .carousel-item.active(style="background-image: url('images/listing_id_1/1.jpg')")
          .carousel-caption.d-none.d-md-block
            h3 50 Phelan Ave, San Francisco CA. 94112
            p A cozy home nestled in the rolling fog of the city by the bay.
        // Slide Two - Set the background image for this slide in the line below
        .carousel-item(style="background-image: url('images/listing_id_5/1.jpg')")
          .carousel-caption.d-none.d-md-block
            h3 One Ferry Building, San Francisco, CA. 94111
            p Space to park a car or a pirate ship! Yar!
        // Slide Three - Set the background image for this slide in the line below
        .carousel-item(style="background-image: url('images/listing_id_3/1.jpg')")
          .carousel-caption.d-none.d-md-block
            h3 200 Larkin Street, San Francisco, CA. 94102
            p A cultural hub with treasures to be had for the daring!

      a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')          
        span.sr-only Previous      
      a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')          
        span.sr-only Next
  
  // Featured Posts
  section.py-2
    .container
      h1 Featured Listings
           
  .container
    .row
      .col-lg-4.col-md-6.mb-4
        .card.h-100
          a(href='/stylesheets/style.css')
            img.card-img-top(src="images/listing_id_1/1.jpg", alt='')              
          .card-body
            h4.card-title
              a(href='listing') 50 Phelan Ave, San Francisco CA. 94112
            h5 $1,000,000
            p.card-text
              | A cozy home nestled in the rolling fog of the city by the bay.          
          .card-footer

      .col-lg-4.col-md-6.mb-4
        .card.h-100
          a(href='#')
            img.card-img-top(src="images/listing_id_2/1.jpg", alt='')              
          .card-body
            h4.card-title
              a(href='listing') 1 Dr Carlton B Goodlett Pl, San Francisco, CA. 94102
            h5 $1,500,000
            p.card-text
              | Positioned near city hall, you'll never be closer to the levers of power!          
          .card-footer

      .col-lg-4.col-md-6.mb-4
        .card.h-100
          a(href='#')
            img.card-img-top(src="images/listing_id_3/1.jpg", alt='')              
          .card-body
            h4.card-title
              a(href='listing') 200 Larkin Street, San Francisco, CA. 94102                
            h5 $2,000,000
            p.card-text
              | A cultural hub with treasures to be had for the daring!          
          .card-footer

      .col-lg-4.col-md-6.mb-4
        .card.h-100
          a(href='listing')
            img.card-img-top(src="images/listing_id_4/1.jpg", alt='')              
          .card-body
            h4.card-title
              a(href='#') 99 Grove Street, San Francisco, CA. 94102                
            h5 $5,000,000
            p.card-text
              | A suitable site for a grand conclave of irreputable gentleman!          
          .card-footer

      .col-lg-4.col-md-6.mb-4
        .card.h-100
          a(href='#')
            img.card-img-top(src="images/listing_id_5/1.jpg", alt='')              
          .card-body
            h4.card-title
              a(href='listing') One Ferry Building, San Francisco, CA. 94111                
            h5 $2,500,000
            p.card-text
              | Space to park a car or a pirate ship! Yar!          
          .card-footer

      .col-lg-4.col-md-6.mb-4
        .card.h-100
          a(href='listing')
            img.card-img-top(src="images/listing_id_6/1.jpg", alt='')              
          .card-body
            h4.card-title
              a(href='listing') 1500 Sullivan Ave, Daly City, CA. 94015                
            h5 $850,000                  
            p.card-text
              | A delightful property where you can enjoy people watching.          
          .card-footer
        
