extends layout

block content
  div(style='margin:100px;')
    nav.navbar.navbar-inverse.navbar-static-top
      .container
        ul.nav.navbar-nav
          li.active
            a(href='/fa17g06/') Home
          li
            a(href='/fa17g06/groupmember1') Alberto
          li
            a(href='/fa17g06/felix') Felix
          li
            a(href='/fa17g06/mayank') Mayank
          li
            a(href='fa17g06/jirat') Jirat
          li
            a(href='/fa17g06/lion') Lion
    .jumbotron(style='padding:40px;')
   h1(align='center') Julian's Page
    p(align='center') Julian is currently working on a SFSU CSC 648 team project.

