extends layout

block content
  // Page Content
  .container
    br
    br
    br
    // Portfolio Item Heading
    h5 
      a.nav-link(href='/')  back to search
    h1.my-4
      | Phelan Ave, San Francisco, Ca. 94112
      small (Location)
    // Portfolio Item Row
    .row
      .w3-content.w3-display-container
        // link image to database
        img.mySlides(src='images/listing_id_1/1.jpg', style='width:50%')
        img.mySlides(src='https://static.pexels.com/photos/276724/pexels-photo-276724.jpeg', style='width:40%')
        img.mySlides(src='https://static.pexels.com/photos/189333/pexels-photo-189333.jpeg', style='width:40%')
        img.mySlides(src='https://static.pexels.com/photos/271634/pexels-photo-271634.jpeg', style='width:40%')
        img.mySlides(src='https://static.pexels.com/photos/271643/pexels-photo-271643.jpeg', style='width:40%')
        button.w3-button.w3-black.w3-display-left(onclick='plusDivs(-1)') &#x276E;
        button.w3-button.w3-black.w3-display-right(onclick='plusDivs(1)') &#x276F;
      script.
        var slideIndex = 1;
        showDivs(slideIndex);
        function plusDivs(n) {
        showDivs(slideIndex += n);
        }
        function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {
        slideIndex = 1
        }
        if (n < 1) {
        slideIndex = x.length
        }
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
        }
      .col-md-4
        // map
        #map
        script.
          function initMap() {
          var uluru = {
          lat: -25.363,
          lng: 131.044
          };
          var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
          });
          var marker = new google.maps.Marker({
          position: uluru,
          map: map
          });
          }
        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDGf7v2z21y1mcjDcD4ARc7M6jmKdDYdj4&callback=initMap')
        // end map api
        h3.my-3 Property Details
        ul
          li 3 Bedrooms
          li 2 Bathrooms
          li 1500 Sq Ft.
          li $1,000,000.00
        button.btn.btn-warning(type='button', data-toggle='modal', data-target='#ContactAgentModal') Contact Agent
      .col-md-10
        h3.my-3 Property Description
        p
          | A cozy home nestled in the rolling fog of the city by the bay. 
          | A romantic home ideal for couples in love...
    // /.row
    // Related Projects Row
    h3.my-4 Related Properties
    .row
      .col-md-3.col-sm-6.mb-4
        a(href='#')
          img.img-fluid(src='images/listing_id_2/1.jpg', alt='')
      .col-md-3.col-sm-6.mb-4
        a(href='#')
          img.img-fluid(src='images/listing_id_3/1.jpg', alt='')
      .col-md-3.col-sm-6.mb-4
        a(href='#')
          img.img-fluid(src='images/listing_id_4/1.jpg', alt='')
      .col-md-3.col-sm-6.mb-4
        a(href='#')
          img.img-fluid(src='images/listing_id_5/1.jpg', alt='')
    // /.row
  // /.container
  // Contact agent modal
  #ContactAgentModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='contactAgentModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#contactAgentModalLabel.modal-title Input Messages:
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .col.form-group
            .modal-body
            input.form-control(type='text', placeholder='Enter your full name')
            br
            input.form-control(type='text', placeholder='Enter your email or phone number')
            br
            .form-group
              textarea#exampleFormControlTextarea1.form-control(placeholder='Type your message here...', rows='5')
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
          // link to agent's message box
          button.btn.btn-primary(data-toggle='modal', data-target='#MessageSentModal', type='button', data-dismiss='modal') Send
  // Message Sent Modal
  #MessageSentModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='MessageSentModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Message Sent!
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          | Congratulations! Your message has been sent to the agent of this property. Expect a reply within next 4-5 business days.
        .modal-footer
          button.btn.btn-primary(type='button', data-dismiss='modal') Done
