extends layout

block content
  .container
    br
    h1.well Login to your Account
    .col-lg-12.well
      .row
        form(method='post', action='login')
          .col-sm-12
            .row
              .form-group
                label Email
                input.form-control(type='text', placeholder='Email', name='email')
            .row
              .form-group
                label Password
                input.form-control(type='text', placeholder='Password',name='password')
          button.btn.btn-lg.btn-info(type='submit')  Submit