extends layout

block content
  .container
    br        
    h1.well Registration Form    
    .col-lg-12.well
      .row
        form(method='post', action='register')
          .col-sm-12
            .row
              .col-sm-6.form-group
                label First Name                              
                input.form-control(type='text', placeholder='Enter First Name Here..', name='fname')                       
              .col-sm-6.form-group
                label Last Name                             
                input.form-control(type='text', placeholder='Enter Last Name Here..', name='lname')             
            .form-group
              label Email Address                       
              input.form-control(type='text', placeholder='Enter Email Address Here..', name='email')
               
            .row
              .col-sm-6.form-group
                label Password         
                input.form-control(type='text', placeholder='Enter Password', name='pwd')                           
              .col-sm-6.form-group
                label Confirm Password                              
                input.form-control(type='text', placeholder='Confirm Password', name='pwd-match')                   
            button.btn.btn-lg.btn-info(type='submit')  Submit