doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title My Posts - Dashboard
		// Bootstrap core CSS
		link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		// Custom fonts for this template
		link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		// Page level plugin CSS
		link(href='vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
		// Custom styles for this template
		link(href='css/sb-admin.css', rel='stylesheet')
	body#page-top.fixed-nav.sticky-footer.bg-dark
		// Navigation
		nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
			a.navbar-brand(href='../index.html') Essos
			button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			form.navbar-form.navbar-search(role='search')
				.input-group
					input.form-control(type='text', style='width: 500px;')
					.input-group-btn
						button.btn.btn-search.btn-primary(type='button', onclick='relocate_home()')
							span.glyphicon.glyphicon-search
							span.label-icon Search
						script.
							function relocate_home()
							{
							location.href = "result.html";
							}
			#navbarResponsive.collapse.navbar-collapse
				ul#exampleAccordion.navbar-nav.navbar-sidenav
					li.nav-item(data-toggle='tooltip', data-placement='right', title='Tables')
						a.nav-link(href='Agent.html')
							i.fa.fa-fw.fa-envelope
							span.nav-link-text Messages
					li.nav-item.active(data-toggle='tooltip', data-placement='right', title='Tables')
						a.nav-link(href='MyPosts.html')
							i.fa.fa-fw.fa-list
							span.nav-link-text My Posts
					li.nav-item(data-toggle='tooltip', data-placement='right', title='Tables')
						a.nav-link(href='NewPost.html')
							i.fa.fa-fw.fa-plus
							span.nav-link-text New Post
				ul.navbar-nav.sidenav-toggler
					li.nav-item
						a#sidenavToggler.nav-link.text-center
							i.fa.fa-fw.fa-angle-left.fa-2x
				ul.navbar-nav.ml-auto
					li.nav-item
						a.nav-link(href='../about.html') About us
					li.nav-item
						a.nav-link.active(href='#') Agent
					li.nav-item
						a.nav-link(data-toggle='modal', data-target='#exampleModal') Sign Out
		// .Navigation
		.content-wrapper
			.container-fluid
				// Breadcrumbs
				ol.breadcrumb
					li.breadcrumb-item
						a(href='Agent.html') Agent Dashboard
					li.breadcrumb-item.active My Posts
				// Example DataTables Card
				.card.mb-3
					.card-body
						// Page Content
						.container
							// Project One
							.row
								.col-md-7
									a(href='#')
										img.img-fluid.rounded.mb-3.mb-md-0(src='http://placehold.it/700x300', alt='')
								.col-md-5
									h3
										| Property One
										small (Location)
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
									a.btn.btn-warning(href='../IndividualPost.html') View Property
							// /.row
							hr
							// Project Two
							.row
								.col-md-7
									a(href='#')
										img.img-fluid.rounded.mb-3.mb-md-0(src='http://placehold.it/700x300', alt='')
								.col-md-5
									h3
										| Property Two
										small (Location)
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.
									a.btn.btn-warning(href='../IndividualPost.html') View Property
							// /.row
							hr
							// Project Three
							.row
								.col-md-7
									a(href='#')
										img.img-fluid.rounded.mb-3.mb-md-0(src='http://placehold.it/700x300', alt='')
								.col-md-5
									h3
										| Property Three
										small (Location)
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!
									a.btn.btn-warning(href='../IndividualPost.html') View Property
							// /.row
							hr
							// Project Four
							.row
								.col-md-7
									a(href='#')
										img.img-fluid.rounded.mb-3.mb-md-0(src='http://placehold.it/700x300', alt='')
								.col-md-5
									h3
										| Property Four
										small (Location)
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?
									a.btn.btn-warning(href='../IndividualPost.html') View Property
							// /.row
							hr
							// Pagination
							ul.pagination.justify-content-center
								li.page-item
									a.page-link(href='#', aria-label='Previous')
										span(aria-hidden='true') «
										span.sr-only Previous
								li.page-item
									a.page-link(href='#') 1
								li.page-item
									a.page-link(href='#') 2
								li.page-item
									a.page-link(href='#') 3
								li.page-item
									a.page-link(href='#', aria-label='Next')
										span(aria-hidden='true') »
										span.sr-only Next
						// /.container
					// .card body
					.card-footer.small.text-muted Updated yesterday at 11:59 PM
				// .card mb3
			// .container fluid
			// /.container-fluid
			// /.content-wrapper
			footer.py-5.bg-dark
				.container
					p.m-0.text-center.text-white Copyright © Team 06 SFSU SE Fall 2017
				// /.container
			// Scroll to Top Button
			a.scroll-to-top.rounded(href='#page-top')
				i.fa.fa-angle-up.fa-2x
			// Logout Modal
			#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-header
							h5#exampleModalLabel.modal-title Ready to Leave?
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body Select "Logout" below if you are ready to end your current session.
						.modal-footer
							button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
							a.btn.btn-primary(href='../index.html') Logout
			// Logout Modal
			#CongratulationsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='CongratulationsModalLabel', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-header
							h5#exampleModalLabel.modal-title Congratulations!
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body Your property has been submitted and will soon be listed on Essos.
						.modal-footer
							button.btn.btn-secondary(type='button', data-dismiss='modal') Done
			// Bootstrap core JavaScript
			script(src='vendor/jquery/jquery.min.js')
			script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
			// Core plugin JavaScript
			script(src='vendor/jquery-easing/jquery.easing.min.js')
			// Page level plugin JavaScript
			script(src='vendor/datatables/jquery.dataTables.js')
			script(src='vendor/datatables/dataTables.bootstrap4.js')
			// Custom scripts for all pages
			script(src='js/sb-admin.min.js')
			// Custom scripts for this page
			script(src='js/sb-admin-datatables.min.js')
		// .content wrapper

